services:
  slideshow:
    build: .
    container_name: slideshow-app
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
